@import url("https://fonts.googleapis.com/css2?family=Lemonada&display=swap");

body {
  position: relative;
  overflow-x: hidden;
}

.vCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linkedInText {
  color: white;
  font-weight: bold;
  margin-right: 0.5rem;
  font-size: 2rem;
}

.mainContainer {
  padding: 0 !important;
  margin: 0 !important;
  /* background-image: url("https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover; */
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

#bkgVideo {
  width: 100vw;
  /* min-height: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
}

.mainHeader {
  /* font-family: "Lemonada", cursive; */
  display: block;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  color: #0c4b8c;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.jt {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 3rem 5rem;
}

.jt p {
  color: azure;
  font-size: 1.25rem;
  margin-top: 1rem;
  text-indent: 2.5rem;
  overflow-y: auto;
}

.techList {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: auto;
  overflow-y: auto;
}

.jtCol {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 20rem;
}

.portfolioImg {
  max-width: 30rem;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
  border: 3px solid #0c4b8c;
  padding: 1rem;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.portfolioImg:hover .portfolioInfo {
  bottom: 0;
  transition: 0.5s;
}

.portfolioImg:hover {
  border-color: white;
  transition: 2.5s;
}

.portfolioImg img {
  width: 100%;
}

.portrait .portfolioInfo {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.portfolioInfo {
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  text-align: center;
  color: white;
  overflow-y: auto;
}

.portfolioInfo p {
  font-size: 1.15rem;
  padding: 1rem;
  text-align: justify;
  text-indent: 1rem;
}

.portfolioInfo img {
  width: 10rem;
}
.portrait {
  border-radius: 50%;
  border: 5px solid #0c4b8c;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: end;
  position: relative;
  transition: 0.5s;
  margin: auto;
}

.portrait:hover .portfolioInfo {
  bottom: 0;
  transition: 0.5s;
}

.portrait:hover {
  border-color: white;
  transition: 2.5s;
}

.footer {
  background-color: rgba(0, 0, 0, 0.99);
  height: 5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.portfolioContainer {
  background-color: rgba(9, 8, 40, 0.95);
  min-height: 25rem;
}

.portfolioCol {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1000px) {
  .jt {
    padding-bottom: 0;
  }

  .jtCol1 {
    order: 1;
    width: 100%;
  }

  .jtCol {
    height: auto;
    /* margin: 0; */
    padding-left: 0;
    padding-right: 0;
  }

  .jt {
    background-color: unset;
    margin: 0;
  }

  body {
    background-color: #0c4b8c;
  }

  .portfolioContainer {
    min-height: unset;
  }
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    margin: 0;
    background-color: unset;
  }

  .jtCol {
    height: auto;
  }

  .jtCol p {
    margin: 0.25rem;
    padding: 0.25rem;
    font-size: 0.85rem;
  }

  .jtCol1 {
    order: 0;
  }

  .portfolioImg {
    margin: 0.5rem auto;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
  }

  .portfolioImg p {
    display: none;
  }

  .portfolioImg h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  .portfolioInfo img {
    width: 30%;
  }

  .portfolioCol {
    display: block;
  }

  .techList h3 {
    text-align: center;
  }

  .portfolioContainer {
    background-color: unset;
  }
}
